body {
  width: 90%;
  margin: 0px;
  padding: 3% 30% 30% 30%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 100%;
  letter-spacing: normal;
  background-color: #ffffff;
}
h1 {
  width: 600px;
  font-size: 200%;
  font-weight: bold;
  margin: 10px 0px 20px 20px;
  padding: 2px;
}
div {
  margin-top: 10px;
}
footer {
  width: 500px;
  margin: 100px auto 10px auto;
  padding: 5px;
  font-size: 90%;
  text-align: center;
  clear: both;
}
/* For extra small devices */
@media only screen and (max-width: 480px) {
  body {
    width: 8%;
    padding: 0%;
    background-color: #FFF;
    justify-content: center;
  }
}
/* For tablets: */
@media only screen and (min-width: 600px) {
  body {
    width: 15%;
    background-color: #FFF;
    justify-content: center;    
  }
}
/* For medium size devices: */
@media only screen and (min-width: 768px) {
  body {
    width: 60%;
    background-color: #FFF;
    justify-content: center;  
  }
}
/* For desktops */
@media only screen and (min-width: 992px) {
  body {
    width: 80%;
    background-color: #FFF;
    justify-content: center;  
  }
}
/* For large desktops */
@media only screen and (min-width: 1200px) {
  body {
    width: 90%;
    background-color: #FFF;
    justify-content: center;  
  }
}


